.profile__settings {
  &__header {
    position: absolute;
    top: 30%;
    font-size: 22px;
  }

  &__editImg {
    position: absolute;
    width: 32px;
    height: 35px;
    top: 25%;
    left: 56%;
  }

  &__formData {
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
