---
name: Арчибальд
first_name: Арчибальд
second_name: Котиков
login: archi
email: kotikoff@kotomail.ru
phone: 88888888
title: Profile Settings
---
{{!< base/base}}

<main>
<div class="profile__box">
    {{> backArrow/backArrow link="../profileDescription/profileDescription.hbs"}}
    {{> avatar/avatar}}
    <img class="profile__settings__editImg" src="../../../static/img/image-edit(40x40)@1x.png">
    <h1 class="profile__settings__header && text">{{name}}</h1>
    <div class="profile__settings__formData">
        {{> input/input id="first_name" type="text" value=first_name label="Имя"  style="profile"}}
        {{> input/input id="second_name" type="text" value=second_name label="Фамилия"  style="profile"}}
        {{> input/input id="login" type="text" value=login label="Логин"  style="profile"}}
        {{> input/input id="email" type="text" value=email label="Почта"  style="profile"}}
        {{> input/input id="phone" type="number" value=phone label="Телефон"  style="profile"}}
        {{> button/button link="../profileDescription/profileDescription.hbs" style="button && profile__settings__button" text="Сохранить" }}
    </div>
</div>
</main>
