.header {
  position: absolute;
  width: 140px;
  height: 38px;
  left: calc(50% - 140px / 2 + 20px);
  bottom: 90%;
  font-size: 22px;
  line-height: 26px;
}

.signUp {
  &__box {
    position: absolute;
    width: 465px;
    height: 727px;
    left: calc(50% - 465px / 2 + 0.5px);
    top: calc(50% - 350px);
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
    background: var(--box-background-color);
  }

  &__formBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 -5px;
    left: calc(50% - 315px / 2 - 0.5px);
    top: 25%;
    align-items: center;
  }
}
