.input {
    width: 232px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;

    &__error {
        color: red;
        font-size: 12px;
        text-align: center;
        height: 12px;
    }
}