.login {
  position: absolute;
  width: 340px;
  height: 450px;
  left: 50%;
  transform: translate3d(-50%, -10%, 0);
  margin: 0 auto;
  top: calc(50% - 225px);
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    position: absolute;
    margin-top: 15%;
  }

  &__input__login {
    margin-top: 60%;
  }

  &__input::placeholder {
    font-size: 12px;
    line-height: 14px;
    bottom: 1px;
  }
}
