---
title: Error
errorNumber: 404
errorDescription: Упс, ошибочка вышла...
---
{{!< base/base}}

<main>
<div class="error__box">
    <main class="error__header && error__text && text">{{errorNumber}}</main>
    <main class="error__description && error__text && text">{{errorDescription}}</main>
    <a class="error__action && error__text && text" href="../dialogs/dialogs.hbs">Вернуться к чатам</a>
</div>
</main>
