:root {
  --main-font-family: "RobotoFlex", serif;
  --text-link-color: #000;
  --box-background-color: #fcfcfc;
  --input-background-color: #fcfcfc;
  --button-text-color: #fff;
  --button-background-color: #c4b6ff;
  --action-text-color: #957cff;
  --dialogs-sidebar-color: #f8f8f8;
  --dialogs-input-color: #e8e8e8;
  --dialogs-header-color: #f6f6f6;
}

.text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
}

.textLink {
  color: var(--text-link-color);
  border-bottom: none;
  align-content: center;
  margin-top: 5px;
  font-size: 14px;
  text-decoration: none;
}

.profile__box {
  width: 650px;
  height: 730px;
  background: var(--box-background-color);
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  box-shadow: 0 0 4px #00000040;
}

.profileImg {
  width: 148px;
  height: 148px;
  border-radius: 100px;
  position: absolute;
  top: 10%;
  left: calc(50% - 74px);
  box-shadow: inset 0 2px 4px #0000001a;
}

.arrowLink {
  align-self: flex-start;
}

.inputLabel {
  background: var(--input-background-color);
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.inputLabel::placeholder {
  font-size: 12px;
  line-height: 14px;
  bottom: 2px;
}

.profile__input {
  width: 400px;
  height: 40px;
}

.profile__label {
  text-align: right;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
}

.profile__wrapper {
  margin: 5px;
}

.signUp__input {
  width: 315px;
  height: 40px;
  margin-top: 3px;
  position: static;
}

.signUp__label {
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  position: absolute;
}

.login__input {
  width: 200px;
  height: 40px;
  background: none;
  margin-top: 3px;
  position: static;
}

.login__inputWrapper {
  background: none;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.login__label {
  display: none;
}

.dialogs__input {
  width: 700px;
  height: 45px;
  background: var(--dialogs-input-color);
  border-color: var(--dialogs-input-color);
  border-radius: 12px;
}

.dialogs__input__wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  display: flex;
}

.dialogs__label {
  display: none;
}

.button {
  color: var(--button-text-color);
  background: var(--button-background-color);
  width: 160px;
  height: 15px;
  text-align: center;
  border: none;
  border-radius: 12px;
  margin-top: 20px;
  padding: 1rem 1.5rem;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}

.input {
  width: 232px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.input__error {
  color: red;
  text-align: center;
  height: 12px;
  margin-top: 3px;
  font-size: 12px;
}

.input__wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.file__input {
  background: var(--button-text-color);
  flex-direction: column;
  justify-content: center;
  display: flex;
  box-shadow: 0 0 2px #00000040;
}

.file__name {
  color: green;
}

.message__item {
  background: var(--dialogs-input-color);
  width: 35%;
  border-radius: 12px;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  display: flex;
  right: 2%;
  box-shadow: 0 0 4px #00000040;
}

.message__item__other {
  background: var(--button-background-color);
  align-self: flex-start;
  left: 2%;
}

.imageButton {
  display: block;
}

.logout__button {
  position: absolute;
  right: 2%;
}

.add__contact__button {
  position: absolute;
  right: 6%;
}

.done {
  margin-top: 10px;
}

.login {
  width: 340px;
  height: 450px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  display: flex;
  position: absolute;
  top: calc(50% - 225px);
  left: 50%;
  transform: translate3d(-50%, -10%, 0);
  box-shadow: 0 0 6px #00000024;
}

.login__img {
  margin-top: 15%;
}

.login__input__login {
  margin-top: 30%;
}

.login__input::placeholder {
  font-size: 12px;
  line-height: 14px;
  bottom: 1px;
}

.profile__settings__header {
  font-size: 22px;
  position: absolute;
  top: 30%;
}

.profile__settings__editImg {
  width: 32px;
  height: 35px;
  position: absolute;
  top: 25%;
  left: 56%;
}

.profile__settings__formData {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 35%;
}

.profile__description__header {
  font-size: 22px;
  position: absolute;
  top: 29%;
}

.profile__description__formData {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 35%;
}

.profile__description__button {
  margin-top: 20px;
  position: static;
  left: 0;
}

.profile__description__linkBox {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.header {
  width: 140px;
  height: 38px;
  font-size: 22px;
  line-height: 26px;
  position: absolute;
  bottom: 95%;
  left: calc(50% - 50px);
}

.signUp__box {
  width: 465px;
  height: 727px;
  background: var(--box-background-color);
  border-radius: 12px;
  position: absolute;
  top: calc(50% - 350px);
  left: calc(50% - 232px);
  box-shadow: 0 0 6px #00000024;
}

.signUp__formBox {
  flex-direction: column;
  align-items: center;
  margin: 0 -5px;
  display: flex;
  position: absolute;
  top: 25%;
  left: calc(50% - 158px);
}

.error__box {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  right: 50%;
}

.error__text {
  text-align: center;
}

.error__header {
  margin: 0;
  font-size: 60px;
  line-height: 70px;
  top: 30%;
}

.error__description {
  margin: 0;
  font-size: 50px;
  line-height: 70px;
}

.error__action {
  color: var(--action-text-color);
  font-size: 20px;
}

.dialogs__wrapper {
  min-height: 800px;
  max-height: 100%;
  grid-template: "n h" 100px
                 "n c" 1fr
                 "n f" 100px
                 / 500px 1fr;
  margin: auto;
  display: grid;
}

.dialogs__profile__box__img {
  width: 148px;
  height: 148px;
  border-radius: 100px;
  box-shadow: inset 0 2px 4px #0000001a;
}

.dialogs__profile__box {
  height: 30%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  display: flex;
}

.dialogs__search {
  width: 246px;
  height: 35px;
  background: var(--dialogs-input-color);
  border-color: var(--dialogs-input-color);
  border-radius: 12px;
  top: 20%;
}

.dialogs__header {
  background-color: var(--dialogs-header-color);
  flex-direction: row;
  grid-area: h;
  align-items: center;
  padding-left: 20px;
  display: flex;
}

.dialogs__footer {
  background-color: var(--box-background-color);
  border-top: .5px solid #bababa;
  flex-direction: row;
  grid-area: f;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  display: flex;
}

.dialogs__header__person__name {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.dialogs__sidebar {
  background: var(--dialogs-sidebar-color);
  flex-direction: column;
  grid-area: n;
  align-items: center;
  display: flex;
}

.dialogs__dialogs__box {
  background: var(--box-background-color);
  height: auto;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  display: flex;
}

.dialogs__content {
  background-color: var(--box-background-color);
  max-height: 100%;
  flex-direction: column;
  grid-area: c;
  align-items: flex-end;
  display: flex;
}

.dialogs__item {
  width: 500px;
  height: 130px;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  display: flex;
}

.dialogs__item__img {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  top: 10%;
  box-shadow: inset 0 2px 4px #0000001a;
}

.dialogs__person__name {
  font-size: 16px;
  font-weight: bold;
  top: 5%;
}

.dialogs__message {
  height: 120px;
  flex-direction: column;
  padding: 14px;
  display: flex;
}

.dialogs__message__text {
  padding-top: 30px;
  padding-bottom: 5px;
}

.dialogs__send__button {
  padding-left: 10px;
}

.profile__image__box {
  width: 379px;
  height: 315px;
  background: var(--box-background-color);
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  box-shadow: 0 0 4px #00000040;
}

.profile__image__button {
  margin-top: 20px;
  position: static;
  left: 0;
}

.profile__image__input {
  background: var(--button-text-color);
  box-shadow: 0 0 2px #00000040;
}

.profile__password__box {
  width: 379px;
  height: 315px;
  background: var(--box-background-color);
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  box-shadow: 0 0 4px #00000040;
}

.profile__password__button {
  margin-top: 20px;
  position: static;
  left: 0;
}

.profile__password__input {
  background: var(--button-text-color);
  box-shadow: 0 0 2px #00000040;
}

.create__chat__box {
  width: 379px;
  height: 315px;
  background: var(--box-background-color);
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  box-shadow: 0 0 4px #00000040;
}

.create__chat__button {
  margin-top: 20px;
  position: static;
  left: 0;
}

.create__chat__input {
  background: var(--button-text-color);
  box-shadow: 0 0 2px #00000040;
}

.add__user__box {
  width: 400px;
  height: 259px;
  background: var(--box-background-color);
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  box-shadow: 0 0 4px #00000040;
}

.add__user__button {
  margin-top: 20px;
  position: static;
  left: 0;
}

.add__user__input {
  background: var(--button-text-color);
  box-shadow: 0 0 2px #00000040;
}

.add__user__search__box {
  flex-direction: row;
  align-items: center;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
