.profile__description{
    &__header {
         position: absolute;
         top: 38%;
         font-size: 22px;
     }
     &__formData{
          position: absolute;
          top: 45%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

     &__button{
          position: static;
          left: 0;
          margin-top: 20px;
      }

      &__linkBox{
           position: absolute;
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           left: 10%;
           bottom: 10%;
       }
}
